Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  performance-*,
  misc-*,
  portability-*,
  readability-braces-around-statements,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-non-const-parameter,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-suspicious-call-argument,
  -cert-dcl37-c,
  -cert-dcl51-c,

CheckOptions:
  - key: 'Language'
    value: 'C11'
ExtraArgs: ['-std=c11']
