ft_ls_tester/
README.md
compile_commands.json
ft_ls_d
ft_ls
obj/
obj_debug/
libft_d.a
tester/__pycache__/

ft_ls_bonus
ft_ls_bonus_d

obj_bonus/
obj_bonus_debug/

libft/libft.a

ft_ls_compare_tree/
ft_ls_compare_results/
